body {
	background: rgb(131, 177, 131);
}
 
.block { 
	background: rgb(197, 197, 122);
	margin: 5px;
	width: 600px;
	border: 1px solid grey;
	padding: 5px;
	text-align: justify;
	border-radius: 15px;
}

h1, h2, h3 {
	font-size: 1.8em;
	text-align: center;
	font-family: 'Lobster';
}

p{
	font-size: 1.5em;
}
